# Operaciones CRUD en Cassandra

In [ ]:
#https://datastax.github.io/python-driver/index.html
#!pip install cassandra-driver

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

auth_provider = PlainTextAuthProvider(
    username='cassandra', password='cassandra')
cluster = Cluster(contact_points=['127.0.0.1'], port=9042, auth_provider=auth_provider)
session = cluster.connect()
session.execute("DROP KEYSPACE IF EXISTS test")

In [ ]:
session.execute("CREATE KEYSPACE demo WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 1}")

In [ ]:
session.set_keyspace('demo')

In [ ]:
session.execute(
    """
    CREATE TABLE users (
    firstname text, 
    lastname text, 
    age int, 
    email text, 
    city text, 
    PRIMARY KEY (lastname))
    """
)

In [ ]:
#https://datastax.github.io/python-driver/getting_started.html#type-conversions

session.execute(
    """
    INSERT INTO users (firstname, lastname, age, email, city)
    VALUES (%s, %s, %s, %s, %s)
    """,
    ('John', 'Smith', 46, 'johnsmith@email.com', 'Sacramento')
)

session.execute(
    """
    INSERT INTO users (firstname, lastname, age, email, city)
    VALUES (%s, %s, %s, %s, %s)
    """,
    ('Jane', 'Doe', 36, 'janedoe@email.com', 'Beverly Hills')
)

In [ ]:
session.execute(
    """
    INSERT INTO users (firstname, lastname, age, email, city)
    VALUES (%(firstname)s, %(lastname)s, %(age)s, %(email)s, %(city)s)
    """,
    {'firstname': "Rob", 'lastname': "Byrne", 'age': 24, 'email': "robbyrne@email.com", 'city': "San Diego"}
)

In [ ]:
result_cursor = session.execute("SELECT * FROM users")

for row in result_cursor:
    print(row)

In [ ]:
result_cursor = session.execute("SELECT * FROM users WHERE lastname= 'Doe'")

for row in result_cursor:
    print(row.firstname, " ", row.lastname, " ", row.age, " ", row.email, " ", row.city)

In [ ]:
session.execute("UPDATE users SET city= 'San Jose' WHERE lastname= 'Doe'")

In [ ]:
result_cursor = session.execute("SELECT * FROM users where lastname= 'Doe'")

for row in result_cursor:
    print(row)

In [ ]:
session.execute("DELETE from users WHERE lastname = 'Doe'")

In [ ]:
result_cursor = session.execute("SELECT * FROM users")

for row in result_cursor:
    print(row)